{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock title %}

{% block body %}
<h1>Welcome {{ name }} </h1>

    {% if account is None %}
        <p> You have no account yet. Create one </p>
        <form method="post" action="{% url 'dashboard' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    {% elif account is not None %}
        <H2>Account Details</H2>
        <table>
            <tr>
                <td>Account Number</td>
                <td>{{ account.id }}</td>
            </tr>
            <tr>
                <td>Account Balance</td>
                <td>{{ account.balance }}</td>
            </tr>
            <tr>
                <td>Account Type</td>
                <td>{{ account.type }}</td>
            </tr>
            <tr>
                <td>Interest</td>
                <td>{{ account.interest }}</td>
            </tr>
        </table>
    {% endif %}

{% endblock body %}

